h1, h2, h3, h4 {
  margin: 0;
}

.app {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  display: block;
  margin: 0 0 1rem;
}

.nav {
  display: block;
  margin: 0 0 1rem;

  .nav__u-list {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;

    .nav__u-list-item {
      margin: 0 1rem 0 0;
    }
  }
}

.heading {
  margin: 0 0 1rem 0;
}

// animated route transitions
.app__switch {
  position: relative;

  > div {
    position: absolute;
    width: calc(100vw - 2rem);
  }
}
