@import 'App.constants.scss';

.footer {
  height: 4rem;
  padding: $common-padding;
  transition: height 125ms ease-out;
  border-top: 1px solid $app-primary-bg-color;
  text-align: right;

  .footer__link {
    background-color: $app-primary-bg-color;
    color: $app-primary-text-color;
    padding: 2px;
  }

  @media (min-width: $sm-breakpoint) {
  }
}
