@import 'App.constants.scss';

.header {
  display: block;
  height: 105px; // [todo] px??
  padding: $common-padding;
  transition: height 125ms ease-out;
  border-bottom: 1px solid $app-primary-bg-color;

  .header__name {
    background-color: $app-primary-bg-color;
    color: $app-primary-text-color;
    padding: 1px;
  }

  .header__title {
    padding: 1px;
  }

  @media (min-width: $sm-breakpoint) {
  }
}
