.nav {
  display: block;

  .nav__u-list {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;

    .nav__u-list-item {
      margin: 0 1rem 0 0;

      a, a:visited, a:hover {
        color: white;
        font-weight: bold;
      }
    }

    .nav__link_active {
      text-decoration: none;
    }
  }
}
