@import './App.constants';

.role__heading {
  background-color: $app-primary-bg-color;
  color: $app-primary-text-color;

  padding: 0 2rem 0;

  .role__employer {
    padding: 1px;
  }
}

.role-details__heading {
  background-color: $app-primary-bg-color;
  color: $app-primary-text-color;
  padding: 1px 3rem;
}

.role-details__list-item {
  padding: 0 0 0.75rem;

  &:last-child {
    padding: 0;
  }
}
