.role__heading {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
}

.role-details__heading {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}